@import "partials/variables";


// career page Banner
.career-page-banner{
    padding-top: 170px;
    padding-bottom: 100px;
    min-height: unset;
    @media only screen and (max-width: $screen-sm-max) {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .career-experience,
    .career-job-location{
        position: relative;
        padding-left: 42px;
        @media only screen and (max-width: $screen-sm-max) {
            padding-left: 25px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            left: 0;
            top: 2px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            @media only screen and (max-width: $screen-sm-max) {
                width: 15px;
            }
        }
    }
    .career-experience{
        &:before {
            background-image: url("../images/career-detail-position-work-icon.svg");
        }
    }
    .career-job-location{
        &:before {
            background-image: url("../images/career-detail-position-location-icon.svg");
        }
    }
}

.career-detail-desc{
    font-size: 20px;
    line-height: 1.7;
    color: $mine-shaft-color;
    @media only screen and (max-width: $screen-sm-max) {
        font-size: 14px;
        line-height: 1.57;
    }
    ol{
        padding-left: 10px;
        counter-reset: list-number;
        li{
            position: relative;
            padding-left: 20px;
            &::marker{
                content: '';
            }
            &:before{
                counter-increment: list-number;
                content: counter(list-number);
                margin-right: 15px;
                margin-bottom: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
            }
        }
    }
    ul{
        padding-left: 10px;
        li{
            padding-left: 20px;
            position: relative;
            @media only screen and (max-width: $screen-sm-max) {
                padding-left: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                height: 5px;
                width: 5px;
                background-color: #212B35;
                border-radius: 50%;
                top: 14px;
                left: 0;
                transform: translateY(0);
                @media only screen and (max-width: $screen-sm-max) {
                    top: 8px;
                    height: 3px;
                    width: 3px;
                }
            }
        }
    }
    h2{
        font-weight: $font-weight-bold;
        font-size: $font-26;
        line-height: 1.30;
        margin-top: 50px;
        margin-bottom: 20px;
        color: $primary-color;
        @media only screen and (max-width: $screen-sm-max) {
            font-size: 16px;
            margin-top: 24px;
            margin-bottom: 8px;
        }
    }
}

// Contact Form
.career-postion-form{
    .contact-form{
        position: relative;
        border-radius: 3px;
        border: 1px solid $mercury-color;
        @media only screen and (max-width: $screen-sm-max) {
            border-color: transparent;
        }
        textarea{
            min-height: 140px;
            resize: none;
            @media only screen and (max-width: $screen-sm-max) {
                min-height: 100px;
            }
        }
        input[type="submit"]{
            min-width: 250px;
            @media only screen and (max-width: $screen-sm-max) {
                min-width: 150px;
                width: auto;
            }
        }
    }
}
.apply-now-btn{
    background: #E7B900;
    border-radius: 30px;
}

.career-attach-main{
    // margin-bottom: 0 !important;  
    .career-attach-cv{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 48px;
        height: 40px;
        margin-bottom: 0;
        @media only screen and (max-width: $screen-sm-max) {
            height: 30px;
            padding-left: 40px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 40px;
            height: 40px;
            left: 0;
            background-image: url("../images/attached-pin.svg");
            background-repeat: no-repeat;
            background-size: contain;
            @media only screen and (max-width: $screen-sm-max) {
                width: 30px;
                height: 30px;
            }
        }
    }
    .wpcf7-form-control-wrap{
        input{
            display: none;
        }
    }
}

// Next Previous Positions
.vuestorefront-view-all,
.vuestorefront-previous-arrow,
.vuestorefront-next-arrow{
    @media only screen and (max-width: $screen-sm-max) {
        width: 25px;
        height: 15px;
    }
}

.site-header .submenu_arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    background-image: url("../images/up-down-arrow-white.svg");
    background-repeat: no-repeat;
    padding-right: 0;
    transition: all 0.3s ease;
    background-position: bottom center;
}
.site-header .submenu_arrow:hover:after {
    background-position: top center;
}

.site-header.sticky-header .submenu_arrow:after {
    background-image: url("../images/up-down-arrow-primary.svg");
}
.site-header.sticky-header .submenu_arrow:hover:after {
    background-position: top center;
}