@import "partials/variables";

.magento-partner-row{
    position: relative;
    padding: 22px 0;
    @media only screen and (max-width: $screen-sm-max) {
        padding: 24px 0 16px;
    }
    &:first-child{
        &:before{
            border-top: 1px solid $white-color;
            opacity: 0.1;
            position: absolute;
            width: 100%;
            top: 0;
            content: "";
        }
    }
    &:after{
        border-bottom: 1px solid $white-color;
        opacity: 0.1;
        position: absolute;
        width: 100%;
        bottom: 0;
        content: "";
    }
    .magento-partner-logo {
        line-height: 0;
        display: flex;
        background-color: $white-color;
        padding: 10px;
        width: 180px;
        height: 90px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        img{
            object-fit: contain;
            max-height: 60px;
        }
        @media only screen and (max-width: $screen-sm-max) {
            width: 98px;
            height: 42px;
            margin-right: 8px;
            margin-top: 0px;
            margin-bottom: 8px;
            img{
                max-height: 40px;
            }
        }
    }
}

.magento-service-link-column{
    @media only screen and (max-width: $screen-sm-max) {
        &:not(:last-child){
            .magento-service-link-wrap{
                margin-bottom: 17px;
            }
        }
    }
    .magento-service-link-wrap{
        @media only screen and (min-width: $screen-md-min) {
            padding: 32px 0;
            border-bottom: 1px solid $mercury-color;
        }
        .magento-service-link{
            text-decoration: underline;
            &:hover{
                color: $secondary-color;
                text-decoration: none;
            }
        }
    }
    @media only screen and (min-width: $screen-md-min) {
        &:nth-child(1),&:nth-child(2),&:nth-child(3){
            .magento-service-link-wrap{
                border-top: 1px solid $mercury-color;
            }
        }
    }
}

.express-launch-section{
    .express-launch-image-section{
        picture{
            @media screen and (min-width:$screen-lg-min){
                image-rendering: pixelated;
            }
        }
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .magento-stats-row{
        margin-right:-8px;
        margin-left:-8px;
        .magento-stats-column{
            padding-right: 8px;
            padding-left: 8px;
            &:nth-child(1),&:nth-child(2){
                .magento-stats{
                    border-top: 1px solid $mercury-color;
                }
            }
        }
        .magento-stats{
            border-bottom: 1px solid $mercury-color;
            padding: 12px 0 16px;
        }
    }
}

