@import "partials/variables";

.services-link{
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: underline;
    // min-width: 768px
    @media only screen and (min-width: $screen-md-min) {
        text-decoration: none;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 25px;
        height: calc(100% - -1px);
        border-top: 1px solid $mercury-color;
        border-bottom: 1px solid $mercury-color;
        margin-top: -1px;
        background-image: url(../images/down-arrow-black-45.svg);
        background-repeat: no-repeat;
        background-position: center right;
    }
    .services-link-icon{
        margin-right: 20px;
        line-height: 0;
        img{
            max-width: 30px;
            object-fit: contain;
        }
    }
}

.services-row{
    position: relative;
    &:not(:last-child){
        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid $mercury-color;
            opacity: 0.2;
        }
    }
}
.services-bullet-list{
    .space{
        margin-bottom: 0;
        font-size: 0;
        line-height: 0;
        @media only screen and (min-width: $screen-md-min) {
            line-height: 20px;
        }
    }
    h3{
        font-size: $font-18;
        font-weight: $font-weight-normal;
        margin-bottom: 15px;
        padding-left: 35px;
        color: $white-color;
        background-image: url(../images/checkmark-yellow-icon.svg);
        background-repeat: no-repeat;
        background-position: left 10px;
        @media only screen and (max-width: $screen-sm-max) {
            font-size: $font-14;
            background-size: 14px;
            padding-left: 25px;
            background-position: left 5px;
        }
    }   
    h3 + .space{
        margin-bottom: 30px;
        @media only screen and (max-width: $screen-sm-max) {
            margin-bottom: 15px;
        }
    }
    a{
        color: $white-color;
        text-decoration: underline;
    }    
}