@import "partials/variables";

// S2 Start Shopify Partner section CSS
.shopify-page-shopify-logo{
    @media only screen and (max-width: $screen-sm-max){
        max-width: 197px;
    }
}

// S4 Start Boost Conversation Section CSS
.shopify-platform-arrow:before {
    position: relative;
    width: 47px;
    height: 16px;
    left: 0;
    top: 0;
    display: inline-block;
    content: "";
    background-size: contain;
    background-image: url("../images/long-right-arrow.svg");
    background-repeat: no-repeat;
    transition: all .3s ease;
}
.shopify-design-and-development{
    border: 1px solid $A1A1A1;
    border-radius: 10px;
    &:hover{
        .shopify-platform-arrow{
            &:before{
                background-image: url('../images/long-right-active-arrow.svg');
                background-position: 5px;
                background-repeat: no-repeat;
            }
        }
    }
    .shopify-design-image{
        border-radius: 10px;
        img{
            width: 100%;
        }
    }
}
.sell-more-left-blocks-row{
    @media only screen and (max-width: $screen-sm-max) {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
        padding-inline-start: 15px;
        padding-inline-end: 15px;

        > [class*="col-"]{
            padding-right: 16px;
            padding-left: 16px;
            min-width: 210px;
            scroll-snap-align: start;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar { 
            display: none;
        }
    }
    .sell-more-left-blocks{
        &:nth-last-child(-n+2){
            margin-bottom: 0 !important;
            >div{
                margin-bottom: 0 !important;
            }
        }
        .sell-more-left-blocks-content{
            line-height: 1.57;
        }
        &:hover{
            .shopify-platform-arrow{
                &:before{
                    background-image: url('../images/long-right-active-arrow.svg');
                    background-position: 5px;
                    background-repeat: no-repeat;
                }
            }
        }
        .sell-more-left-blocks-img{
            img{
                @media only screen and (max-width: $screen-sm-max) {
                    width: 37px;
                }

            }
        }
    }
}

// S5 Start Our Partner section CSS
.shopify-partner-row{
    margin-left: -10px;
    margin-right: -10px;
    @media only screen and (max-width: $screen-sm-max) {
        margin-left: -4px;
        margin-right: -4px;
    }
}
.shopify-partner-col{
    width: 20%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    @media only screen and (max-width: $screen-sm-max) {
        width: 33.33%;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 8px;
        height: 42px;
    }
    >div{
        border-radius: 6px;
        padding: 10px;
        height: 100%;
        border: 1px solid $mercury-color;
        @media only screen and (max-width: $screen-sm-max) {
            border-radius: 2px;
        }
        img{
            height: auto;
            width: auto;
            max-width: 150px;
            max-height: 60px;
            @media only screen and (max-width: $screen-sm-max) {
                max-width: 62px;
                max-height: 24px;
            }
        }
    }
}

// S8 Resource Section CSS
.shopify-resource-service{
    border-bottom: 1px solid $mercury-color; 
    &:first-child{
        border-top: 1px solid $mercury-color;
    }
}
